<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Availability</title>
</head>
<body>
    

    {% block title %}
    Food Availability
    {% endblock %}

    {% block content %}
    <div class="clearfix">
    <a class="btn btn-info left" href="{% url 'accounts:profile' %}"> Go to Dashboard </a>
    </div>

    <main id="body-main">
        <h1>Food Availability</h1>
        <form method="POST">
            {% csrf_token %}
            {{ food.as_p}}
            <button type="submit">Post Availability</button>
            <br>
        </form>
    </main>
    {% endblock %}
    
</body>
</html>