{%  include 'food_avail/base.html' %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div>
    <h4>Edit Food Availability</h4>
    <br><br>
    <main id="body-main">
        <h1>Update Food Availability</h1>
        <form method="POST">
            {% csrf_token %}
            {{ food.as_p}}
            <button type="submit">Post Availability</button>
            <br>
        </form>
</div>
</div>