{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Edit Time Slot</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'food_avail/css/update_timeslot.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

        <!-- Material Design javascript --->
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
   </head>
   {%  include 'food_avail/base.html' %}

   <div class="screen">
     <div class="login-container">
       <div class="login-card mdl-card mdl-shadow--8dp">
         {% if user.is_authenticated %}
         <div class="login-card-title">
           <h4>Edit Time Slot</h4>
         </div>
         <div class="horizontal">
           <div class="user-pass-form mdl-card__supporting-text">
             <form method="post" action="">
               {% csrf_token %}
                 {{ timeslot.as_p}}
                 <div class="error-message">
       						{% for message in messages %}
       							<p id="messages" style="color: red;">{{message}}</p>
       						{% endfor %}
       					 </div>
                 <div class="create-btn">
                   <input class="create mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"
                     value="Submit">
                 </div>
                 <!--<button class="button button 1" type="submit" style="cursor:pointer">Submit</button>-->
             </form>
           </div>
         </div>
         {% else %}
           <div class="login-card-title">
             <h4>Please log in to access this page.</h4>
           </div>
         {% endif %}
       </div>

   <!--
    <div>
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <div>
        <div>
            <div>
                <div class="heading_container">
                    <h4>Edit Time Slot</h4>
                    <br><br>
                </div>
                <div class="main">
                    <div>
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ timeslot.as_p}}
                            <button class="button button 1" type="submit" style="cursor:pointer">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="error-message">
        {% for message in messages %}
            <p id="messages" style="color:white;">{{message}}</p>
        {% endfor %}
    </div>-->
