{%  include 'food_avail/base.html' %}

<table>
    {% for key, value in user_info.items %}
    {% for key2,value2 in value.items %}
    <tr>
        <td>{{key2}}:</td>

        {% if key2 == 'timeslot' %}
        <td>
            {% if value2 %}
            {% for i in value2 %}



            {{i.start_time}} <-> {{i.end_time}}



                {% endfor %}
                {% else %}
        No Available Time slots
        {% endif %}

        </td>
        {% else %}
        <td>{{value2}}
        <td>

            {% endif %}
    </tr>
    {% endfor %}

    {% endfor %}
</table>





</div>
</div>
</div>