/* Common styles */
body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.8);
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}

.clearfix {
  margin: 15px;
}

.form {
  width: auto;
  height: auto;
}

#id_description {
  height: 100px;
  width: 50vw;
}

#id_title {
  width: 50vw;
}

#id_start_time {
  width: 16vw;
}

.timelabel {
  font-family:Optima;
  font-size:18px;
  padding-right: 10px;
}
.spacer {
  padding-left: 4.2em;
  padding-right: 4.2em;
}

#id_end_time {
  width: 16vw;
}

#form-title{
  color: #17202a;
  font-family:Optima;
  font-size:35px;

}

.start_and_end_time {
  display: inline-block;
  justify-content: center;
}

.buttons {
  display: inline-block;
  font-family:Optima;
  width: 100px;
}

.cancel-button {
  background-color: #e6e6e6;
}

.add-button {
  background-color: #96bbff;
}


.user_card {
  width: 70vw;
  height: 70vh;
  margin-top: 3em;
  margin-bottom: auto;
  background: #fdfefe;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.add_event_button {
  font-family:Optima;
  font-size:20px;
  height: 70px;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/* App styles */
.title {
  text-align: center;
  margin: 10px;
}

.calendar {
  /*width: 98%;*/
  width: 80vw;
  height: 80vh;
  margin: auto;
  font-size: 13px;
  color: black;
}

.add-btn.mdl-button {
  left: 50%;
  background-color: rgba(255,255,255,0.8);
}

.nav-btn.mdl-button {
  background-color: rgba(255,255,255,0.8);
}

.calendar tr, .calendar td {
  border: 1px solid gray;
  background-color: rgba(255,255,255,0.8);
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 150px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 20px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
