{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}


<!--<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
</div>-->
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <form> 
            <h5>Title</h5>
            <h5>&nbsp; &nbsp; &nbsp; &nbsp; {{ event.title.value }} </h5> <br>
            <h5>Description</h5>
            <h5>&nbsp; &nbsp; &nbsp; &nbsp; {{ event.description.value }} </h5> <br>
            <h5>Starts at</h5>
            <h5>&nbsp; &nbsp; &nbsp; &nbsp; {{ event.start_time.value }} </h5> <br>
            <h5>Ends at</h5>
            <h5>&nbsp; &nbsp; &nbsp; &nbsp; {{ event.end_time.value }} </h5> <br>
      </form>
      {% if user.is_authenticated %}
        {% if user.id == event.author.value %}
        <a href = "{% url 'cal:event_edit' event.instance.id %}">Edit</a>
            {% else %}
                Only the author can delete this post!
            {% endif %}
    {% else %}
        Please login to access this page!
    {% endif %}
{% endblock %}
    