{% extends 'yelp_search/base.html' %}

{% block home %}
<a class="navbar-brand" href="#">Search</a>
{% endblock %}

{% block form %}
<form class="form-inline my-2 my-lg-0" method="POST">
  {% csrf_token %}
<input class="form-control mr-sm-2" type="search" placeholder="Search Location" name = "searched" required="required">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
    <div class="row">
      {% if data %}
        {% for d in data%}
      <div class="column">
        <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="user_card">
              <div class="d-flex justify-content-center">
                <div class="card border-light" style="width: 100%; height=90%;">
                  <img class="card-img-top" src={{d.image_url}} alt="Card image cap" style= "width:100%; height:9vw; object-fit: cover;">
                  <div class="card-body">
                    <h5 class="card-title">{{d.name}}</h5>
                    <p class="card-text">Phone: {{d.display_phone}}</p>
                    <!--<p class="card-text">{{d.categories.title}}</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h3>Location Not Found</h3>
  {% endif %}
  </div>


{% endblock %}
