body {
  background-image: url('https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
}

.screen {
  display: flex;
  justify-content: center;
}

.login-container {
  /*position: fixed;
  right: 30vw;
  top: 15vh;
  justify-content: center;*/
  display: flex;
  justify-content: center;
}

.iama {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 90px;
  color: white;
}

.horizontal {
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding-left: 18%;
  /*display: flex;
  justify-content: center;*/
}

.login-card.mdl-card {
  justify-content: center;
  width: 512px;
  height: 75vh;
  background-color: rgba(255,255,255,0.92);
}

.login-card-title {
  width: 100%;
  color: black;
  /*justify-content: center;
  padding-left: 30%;*/
  display: flex;
  justify-content: center;
}

.login-btn {
  padding-left: 23%;
  /*display: flex;
  justify-content: flex-start;*/
}

.user-pass-form.mdl-card__supporting-text {
  display: flex;
  justify-content: center;
}

.reset-pass {
  /*padding-left: 1.7em;*/
  display: flex;
  justify-content: center;
}

.new-user {
  /*padding-left: 4.6em;*/
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: blue;
}

.login > .mdl-button--raised {
  color: #5BBE71;
}

.error-message {
  /*padding-top: 2em;
  padding-left: 3em;
  color: red;*/
  display: flex;
  justify-content: center;
}
