{% block content %}
{%  include './navbar.html' %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% if user.is_authenticated %}
<h1> Add a post here...</h1>

<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <button> Post!</button>


</form>
{% else %}

    Please login to access this page!
{% endif %}

{% endblock %}