{% load static %}
{%  include './navbar.html' %}
{% if user.is_authenticated %}

<h1>{{ post.title }}</h1>
<small> By:{{post.author}}
    {% if user.id == post.author.id %}
-   <a href = "{% url 'accounts:update_post' post.pk %}">(Edit)</a>
    <a href = "{% url 'accounts:delete_post' post.pk %}">(Delete)</a>
    {% endif %}
</small><br/>
<hr>
<br/>
<p>
    {{post.body}}
</p>
<p>
    {% if post.pic %}
        <img src="{{ post.pic.url }}" style="width:400px;height:300px;" >
    {% endif %}
</p>

<br/><br/>
<a href="{% url 'accounts:posts' %}">Go Back</a>
{% else %}

    Please login to access this page!
{% endif %}
