.mdl-layout__header-row {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.gradient-navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.346354) 50.52%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  z-index: 9999;
}
