.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square.mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}



/*h3 {text-align: center;}
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #232323 !important;
    background: white !important;
    overflow-x: hidden;
    font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .user_card {
    width: 33vw;
    height: 40vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: #fdfefe;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }

  .form_container {
    margin-top: 25px;
  }

  #form-title{
    color: #17202a;

  }

  .login_btn {
    width: 100%;
    background: #232323 !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #232323 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  #messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }


The grid: Three equal columns that floats next to each other
.column {
  float: left;
  width: 33.33%;
 padding: 10px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
}

.containerTab {
  padding: 20px;
  color: white;
}


.smallcolumn {
  float: left;
  width: 50%;
  height: 10vh;
  font-size: 10px;
  /*padding: 10px;
}

/* Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-text {
  font-size: 15px;
}
*/
