{% extends 'templates/base.html' %}
{% block home %}
<a class="navbar-brand" href="/naturescall">Naturescall</a>
{% endblock %}


{% block form %}
<form class="form-inline my-2 my-lg-0" method="POST" action= "/naturescall/search_restroom/">
  {% csrf_token %}
<input class="form-control mr-sm-2" type="search" placeholder="Search Location" name = "searched" required="required">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}

<div class="container-fluid">
      <img class="img-fluid" src={{res.yelp_data.image_url}} alt="Card image cap" style= "width:100%; height:15vw; object-fit: cover;">
</div>

<div class="container"
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          {{res.yelp_data.name}}
          {% if res.yelp_data.Accessible %}
          <span class="badge badge-secondary bg-success text-white">Accessible</span>
          {% endif %}
          {% if res.yelp_data.FamilyFriendly  %}
          <span class="badge badge-secondary bg-primary text-white" >Family Friendly</span>
          {% endif %}
          {% if res.yelp_data.TransactionRequired  %}
          <span class="badge badge-secondary bg-warning text-dark">Transaction Required</span>
          {% endif %}
        </h2>
        <h4 class="card-text"> Address: {{res.addr}}</h4>
        <h4 class="card-text">Rating: {{res.yelp_data.rating}} </h4>
        <h4 class="card-text">Description: {{res.desc}} </h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
