body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/57879a6cbebafb879f256735/1579721909133-R2KSZ8VGDGBI90DYATBK/header4.jpg");
}

.heading_container {
  width: 100%;
  height: 4vh;
  color: white;
  justify-content: center;
}

.mainbody_container {
  width: 100%;
  height: 4vh;
  color: white;
  justify-content: center;
}
