{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  <!-- Material Design stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--<link rel="stylesheet" href="{% static 'accounts/css/landing-page.css' %}">-->
  <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
  <link rel="stylesheet" href="{% static 'accounts/css/material.min.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

  <!-- Material Design javascript --->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


</head>
<body>
	{%  include 'accounts/newnavbar.html' %}

  <div class="screen">
    <div class="smash">
      <h1>about us:</h1>
      <h1 class="smash-title">we are smash</h1>
    </div>
  </div>


      <!-- Material Design javascript --->
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>

</html>
