<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>

    <h2>Reset Your Password</h2>

    <p>Forgot your password? Enter your email associated with your account and we will send you instructions to reset your password.</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="Submit" name="send_email">
    </form>
    
</body>
</html>