<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Password Reset Instructions Sent</h3>    
    <p>
        We have emailed you instructions for re-setting your password, if your account exists with the email provided. You should recieve them shortly.
    </p>

    <p>
        If you do not recieve an email, please make sure you provided us the email you registered with.
    </p>
    
</body>
</html>


