{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- old links
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../templates/css/all_pages.css">

<style media="screen">
  .profile-head {
      transform: translateY(5rem)
  }

  .cover {
      background-image: url('https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=867&q=80');
      background-size: cover;
      background-repeat: no-repeat
  }
</style>-->

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}"/>
	<link rel="stylesheet" href="{% static 'accounts/css/material.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'accounts/css/newnav.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

	<!-- Material Design javascript --->
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
	{%  include 'accounts/newnavbar.html' %}

			<div class="split left">
				<div class="about-container">
					<div class="about-card mdl-card mdl-shadow--8dp">
						<div class="about-card-title mdl-card__title">
							<h3>{{user.get_username}}</h3>
						</div>
							<div class="info mdl-card__supporting-text">
								<h5>About</h5>
								<p>A casual but classy locale serving authentic fare. <br>
									Locals and travelers alike recommend this place. <br>
									Not Beyonce's favorite restaurant, but it could be...<br>
								</p>
								<h5>Location</h5>
								<p>248 Eat Street <br>
									Brooklyn, NY <br>
									11238 <br>
								</p>
							</div>
							<!--
							<div class="info mdl-card__supporting-text">
								<h5>Rating:</h5><p>4.7</p>
							</div>-->
							{% if user.is_authenticated %}
							<div class="update-prof-btn mdl-card__actions mdl-card--border">
								<a href="updateprofile/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit profile</a>
							</div>
							{% endif %}

					</div>
				</div>
			</div>


			<div class="split right">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--1-col">
					</div>
				  <div class="mdl-cell mdl-cell--4-col">
						<div class="prof-card-image mdl-card mdl-shadow--2dp" style="background: url('https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') center / cover;">
						  <div class="mdl-card__title mdl-card--expand"></div>
						  <div class="mdl-card__actions">
						    <span class="demo-card-image__filename">Delicious!</span>
						  </div>
						</div>
						<div class="spacer">
						</div>
						<div class="prof-card-image mdl-card mdl-shadow--2dp" style="background: url('https://images.unsplash.com/photo-1581954548218-415cd6ee5f4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80') center / cover;">
						  <div class="mdl-card__title mdl-card--expand"></div>
						  <div class="mdl-card__actions">
						    <span class="demo-card-image__filename">Looks tasty!</span>
						  </div>
						</div>
						<div class="spacer">
						</div>
						<div class="prof-card-image mdl-card mdl-shadow--2dp" style="background: url('https://images.unsplash.com/photo-1601118964938-228a89955311?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') center / cover;">
						  <div class="mdl-card__title mdl-card--expand"></div>
						  <div class="mdl-card__actions">
						    <span class="demo-card-image__filename">Mmmm!</span>
						  </div>
						</div>
				  </div>
					<div class="mdl-cell mdl-cell--2-col">
					</div>
				  <div class="mdl-cell mdl-cell--4-col">
						<div class="offset">
						</div>
						<div class="prof-card-image mdl-card mdl-shadow--2dp" style="background: url('https://images.unsplash.com/photo-1563881188152-d874ad4dc3be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') center / cover;">
						  <div class="mdl-card__title mdl-card--expand"></div>
						  <div class="mdl-card__actions">
						    <span class="demo-card-image__filename">Yum!</span>
						  </div>
						</div>
						<div class="spacer">
						</div>
						<div class="prof-card-image mdl-card mdl-shadow--2dp" style="background: url('https://images.unsplash.com/photo-1597667079555-78f5c6a05d2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') center / cover;">
						  <div class="mdl-card__title mdl-card--expand"></div>
						  <div class="mdl-card__actions">
						    <span class="demo-card-image__filename">Great!</span>
						  </div>
						</div>
				  </div>
				</div>
				<!-- Image card
				<div class="demo-card-image mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title mdl-card--expand"></div>
				  <div class="mdl-card__actions">
				    <span class="demo-card-image__filename">First</span>
				  </div>
				</div>

				<div class="demo-card-image mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title mdl-card--expand"></div>
				  <div class="mdl-card__actions">
				    <span class="demo-card-image__filename">Second</span>
				  </div>
				</div>

				<div class="demo-card-image mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title mdl-card--expand"></div>
				  <div class="mdl-card__actions">
				    <span class="demo-card-image__filename">Third</span>
				  </div>
				</div>

				<div class="demo-card-image mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title mdl-card--expand"></div>
				  <div class="mdl-card__actions">
				    <span class="demo-card-image__filename">Fourth</span>
				  </div>
				</div>-->
			</div>

<!-- Old profile card
  <div class="row py-5 px-4">
      <div class="col-md-5 mx-auto">
          <div class="bg-white shadow rounded overflow-hidden">
              <div class="px-4 pt-0 pb-4 cover">
                  <div class="media align-items-end profile-head">
                      <div class="profile mr-3"><img src="https://images.unsplash.com/photo-1627737062644-e01cd6c3ad59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80" alt="pie" width="130" class="rounded mb-2 img-thumbnail"><a href="updateprofile/" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                      <div class="media-body mb-5 text-black">
                          <h4 class="mt-0 mb-0">{{request.user}}</h4>
                          <p class="small mb-4">{{user.rest.address}}</p>
                      </div>
                  </div>
              </div>
              <div class="bg-light p-4 d-flex justify-content-end text-center">
                  <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                          <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                      </li>
                      <li class="list-inline-item">
                          <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                      </li>
                      <li class="list-inline-item">
                          <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                      </li>
                  </ul>
              </div>
              <div class="px-4 py-3">
                  <h5 class="mb-0">About</h5>
                  <div class="p-4 rounded shadow-sm bg-light">
                      <p class="font-italic mb-0">{{user.get_username}}</p>
                      <p class="font-italic mb-0">{{user.rest.email}}</p>
                      <p class="font-italic mb-0">{{user.rest.phone}}</p>
                  </div>
              </div>
              <div class="py-4 px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1509461399763-ae67a981b254?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=876&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1481130797134-0c0b917e6caa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1414396914239-e70522479d13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pl-lg-1"><img src="https://images.unsplash.com/photo-1608830597165-a266e1428118?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
</body>

</html>
