<!-- templates/userprofile/profile.html -->
{% block content %}
{%  include 'accounts/newnavbar.html' %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<form method = "POST">
    {% csrf_token %}
          {{user.username}}'s Profile Info<br>
          <table border="1">
            {{ u_form }}<br>
            {{ r_form }} <br>
          </table>

    <button> Update Profile!</button>


</form>


{% endblock %}
